@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 31, 41, 55;
  --background-rgb: 255, 255, 255;
  --card-bg: 249, 250, 251;
  --border-color: 229, 231, 235;
  --accent-color: 16, 242, 179;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --card-bg: 17, 17, 17;
  --border-color: 64, 64, 64;
  --accent-color: 16, 242, 179;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  transition: background-color 0.3s ease, color 0.3s ease;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}

.sticky-card {
  // padding-top: calc(var(--index) * 2.5rem);
  top: calc(var(--index) * 4rem);
}